{% block footer %}
<footer class="footer mt-auto py-3 bg-body-tertiary mt-4">
  {% load static %}
  {% load i18n %}
  <div class="text footer-gap">
    <a href="mailto:The-MemoTime@yandex.ru">The-MemoTime@yandex.ru</a>
    <a href="tel:+7(800)555-35-35">+7 (800) 555-35-35</a>
    <p>©2024</p>
  </div>
  <div class="navigation">
    <nav>
      <ul class="footer-gap">
        <li>
          <a href="{% url 'schedule:schedule-create' %}">
            {% translate 'Create Schedule' %}
          </a>
        </li>
        <li>
          <a href="{% url 'schedule:teacher-list' %}">
            {% translate 'Teacher List' %}
          </a>
        </li>
        <li>
          <a href="{% url 'schedule:event-list' %}">
            {% translate 'Event List' %}
          </a>
        </li>
        <li>
          <a href="{% url 'schedule:note-list' %}">
            {% translate 'Note List' %}
          </a>
        </li>
      </ul>
    </nav>
    <nav>
      <ul class="footer-gap">
        <li><a href="https://gitlab.crja72.ru/frixit">Frixit</a></li>
        <li><a href="https://gitlab.crja72.ru/kirill135790zzz">Yorshik</a></li>
        <li><a href="https://gitlab.crja72.ru/nicitatyushnyakov">nais2008</a></li>
      </ul>
    </nav>
  </div>
</footer>
{% endblock footer %}
