{% block header %}
  <header class="header">
    {% load static %}
    {% load i18n %}
    <a href="{% url 'homepage:homepage' %}" class="logo">
      <img src="{% static '/img/logo.png' %}" alt="{% translate 'Logo' %}">
    </a>
    <div class="burger-container">
      <nav>
        <ul>
          <li>
            <a href="{% url 'schedule:schedule-list' %}">{% translate 'Schedule List' %}</a>
          </li>
          <li>
            <a href="{% url 'schedule:event-list' %}">{% translate 'Event List' %}</a>
          </li>
          <li>
            <button id="theme-toggle-btn"
                    class="btn btn_theme"
                    data-light="{% static 'img/light-theme-icon.png' %}"
                    data-dark="{% static 'img/dark-theme-icon.png' %}"
                    tooltip="{% translate 'Theme' %}"
                    flow="down">
              <img src="{% static 'img/dark-theme-icon.png' %}"
                   alt="{% translate 'Theme Icon' %}">
            </button>
          </li>
          <li>
            <form action="{% url 'set_language' %}" method="post">
              {% csrf_token %}
              <select name="language" onchange="this.form.submit()">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                  <option value="{{ lang.0 }}"
                          {% if lang.0 == LANGUAGE_CODE %}selected{% endif %}>{{ lang.1 }}</option>
                {% endfor %}
              </select>
            </form>
          </li>
          {% if request.user.is_authenticated %}
            {% if user.image %}
              <li>
                <a href="{% url 'users:profile' %}" class="btn btn_prof">
                  <img src="{{ user.image.url }}" alt="{% translate 'error' %}">
                </a>
              </li>
            {% else %}
              <li>
                <a href="{% url 'users:profile' %}" class="btn btn_prof">
                  <img src="{% static 'img/no-avatar.jpg' %}" alt="{% translate 'error' %}">
                </a>
              </li>
            {% endif %}
          {% else %}
            <li>
              <a href="{% url 'users:login' %}" class="btn btn_login">{% translate 'Log In' %}</a>
            </li>
            <li>
              <a href="{% url 'users:signup' %}" class="btn btn_signup">{% translate 'Sign Up' %}</a>
            </li>
          {% endif %}
        </ul>
      </nav>
      <button class="btn btn_burger">
        <div class="icon"></div>
      </button>
    </div>
  </header>
{% endblock header %}
