MEMOTIME_SECRET_KEY=Secret_key 
MEMOTIME_DEBUG=True
MEMOTIME_ALLOWED_HOSTS=*
MEMOTIME_DEFAULT_USER_IS_ACTIVE=False
MEMOTIME_EMAIL=email
MEMOTIME_EMAIL_PASSWORD=password
# Name for PostgreSQL database
POSTGRES_DB=example_db
# Username for PostgreSQL database
POSTGRES_USER=postgres
# Password for PostgreSQL database user
POSTGRES_PASSWORD=password
# Host for PostgreSQL database
POSTGRES_HOST=localhost
# Post for PostgreSQL database
POSTGRES_PORT=5432
