{% load i18n %}
<div class="col-md-2 mb-4">
  <a href="{% url 'users:user-detail' user.id %}"
     class="card h-100 overflow-hidden rounded-4 shadow-sm"
     style="width: 175px;
            border: 1px solid #ddd;
            text-decoration: none">
    {% if user.profile.image %}
      <img src="{{ user.profile.get_image_175x175.url }}"
           class="card-img-top img-fluid rounded-3"
           alt="{% trans 'Аватар пользователя' %}"
           style="width: 175px;
                  height: 175px;
                  object-fit: cover;
                  border: 1px solid #ddd"
           onerror="this.style.display='none'; this.nextElementSibling.classList.remove('d-none');">
      <div class="d-flex justify-content-center align-items-center d-none"
           style="width: 175px;
                  height: 175px;
                  object-fit: cover;
                  border: 1px solid #ddd">
        <span class="text-muted">{% trans "Ошибка загрузки" %}</span>
      </div>
    {% else %}
      <div class="d-flex justify-content-center align-items-center"
           style="width: 175px;
                  height: 175px;
                  object-fit: cover;
                  border: 1px solid #ddd">{% trans "Аватарка отсутсвует" %}</div>
    {% endif %}
    <div class="card-body p-2">
      <h6 class="card-title text-truncate" style="font-size: 0.9rem;">
        {% if user.first_name %}
          {{ user.first_name }}
        {% else %}
          <span style="font-style: italic; color: gray;">{% trans "неуказано" %}</span>
        {% endif %}
      </h6>
      <div class="mt-2">
        <p class="card-text text-truncate" style="font-size: 0.85rem;">
          <strong>{% trans "Статус" %}:</strong>
          {% if user.is_active %}
            <span class="badge bg-success">{% trans "Активен" %}</span>
          {% else %}
            <span class="badge bg-danger">{% trans "Не активен" %}</span>
          {% endif %}
        </p>
        <p class="card-text text-truncate" style="font-size: 0.85rem;">
          <strong>{% trans "Испил кофеёк" %}:</strong> {{ user.profile.coffee_count }} {% trans "раз(а)" %}
        </p>
      </div>
      <strong>{% trans "Дата рождения" %}:</strong>
      <div class="d-flex justify-content-center mt-2 p-2"
           style="background-color: #f7f7f7;
                  border-radius: 5px">
        <span class="text-muted" style="text-align: center; font-size: 1rem;">
          {% if user.profile.birthday %}
            {{ user.profile.birthday|date:"d F" }}
          {% else %}
            {% trans "тайна" %}
          {% endif %}
        </span>
      </div>
    </div>
  </a>
</div>
