{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block body %}
  <div class="container">
    <h2>{% translate "Feedback form" %}</h2>
    {% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %}"
             role="alert">
          {{ message }}
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="{% translate 'Close' %}"></button>
        </div>
      {% endfor %}
    {% endif %}
    <form method="post" enctype="multipart/form-data" class="main-form">
      {% csrf_token %}
      <div class="form-group animate-placeholder">
        {% with form=form.author %}
          {% include 'includes/form.html' %}
        {% endwith %}
      </div>
      <div class="form-group animate-placeholder">
        {% with form=form.feedback %}
          {% include 'includes/form.html' %}
        {% endwith %}
      </div>
      <p>
        <span class="red">*</span> - {% translate 'required field' %}
      </p>
      <button type="submit" class="btn btn_submit">{% translate "Send" %}</button>
    </form>
  </div>
{% endblock body %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/feedback.css' %}">
{% endblock extra_css %}
