{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/object-list.css' %}">
{% endblock extra_css %}
{% block body %}
  <section>
    <h2>{% translate 'Note List' %}</h2>
    <a href="{% url 'schedule:note-create' %}" class="btn btn_create">{% translate 'Add Note' %}</a>
    <div class="list">
      {% for note in notes %}
        <div class="item">
          <h4>{{ note.heading }}</h4>
          <a href="{% url 'schedule:note-update' pk=note.pk %}" class="btn">{% translate 'Update' %}</a>
          <button data-url="{% url 'schedule:note-delete' pk=note.pk %}"
                  class="btn dtn_del"
                  id="btn-del">{% translate 'Delete' %}</button>
        </div>
      {% endfor %}
    </div>
  </section>
  {% include 'includes/modal.html' %}
{% endblock %}
{% block extra_js %}
  <script src="{% static 'js/libs/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/delete-modal.js' %}"></script>
{% endblock extra_js %}
