{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/object-list.css' %}">
{% endblock extra_css %}
{% block body %}
<section>
  <h2>{% translate 'Schedule List' %}</h2>
  <a href="{% url 'schedule:schedule-create' %}" class="btn btn_create">
    {% translate 'Create New Schedule' %}
  </a>
  <div class="list">
    {% for schedule in schedules %}
      <div class="item">
        <a href="{% url 'schedule:schedule-detail' schedule.pk %}">
          {{ schedule.start_date }} - {{ schedule.expiration_date }}
        </a>
        <a href="{% url 'schedule:schedule-update' schedule.pk %}" class="btn">{% translate 'Edit' %}</a>
        <a href="{% url 'schedule:schedule-delete' schedule.pk %}" class="btn">{% translate 'Delete' %}</a>
      </div>
    {% empty %}
      <li>No schedules available.</li>
    {% endfor %}
    </div>
</section>
{% endblock body %}
