{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/object-list.css' %}">
{% endblock extra_css %}
{% block body %}
<section>
  <h2>{% translate 'Teacher List' %}</h2>
  <a href="{% url 'schedule:teacher-create' %}" class="btn btn_create">
    {% translate 'Add Teacher' %}
  </a>
  <div class="list">
    {% for teacher in teachers %}
      <div class="item">
        <h4>{{ teacher.name }}</h4>
        <a href="{% url 'schedule:teacher-update' pk=teacher.pk %}" class="btn">{% translate 'Update' %}</a>
        <button data-url="{% url 'schedule:teacher-delete' pk=teacher.pk %}" class="btn btn_del" id="btn-del">{% translate 'Delete' %}</button>
      </div>
    {% endfor %}
  </div>
</section>
{% include 'includes/modal.html' %}
{% endblock %}
{% block extra_js %}
<script src="{% static 'js/delete-modal.js' %}"></script>
{% endblock extra_js %}