{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/form.css' %}">
  <link rel="stylesheet" href="{% static 'css/schedule-form.css' %}">
{% endblock extra_css %}
{% block body %}
<form method="post" class="main-form">
  <h2>
  {% if form.instance.pk %}
    {% translate 'Edit Teacher' %}
  {% else %}
    {% translate 'Create Teacher' %}
  {% endif %}
  </h2>
  
  {% csrf_token %}
  {% with form=form %}
    {% include 'includes/form.html' %}
  {% endwith %}
  <p><span class="red">*</span> - {% translate 'required field' %}</p>
  <button type="submit" class="btn btn_submit">{% translate 'Save' %}</button>
</form>
{% endblock body %}
