.slogan{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  margin-top: 90px;

  & :is(h1, p){
    text-wrap: balance;
  }
  .btns{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .btn_landing{
    align-self: center;
    padding: 20px 18px;
    font-size: 20px;
    background-color: var(--back-btn-landing);
  }
}
.gallery{
  display: flex;
  height: auto;
  margin-top: 150px;

  & > *{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;

    .image{
      box-shadow: var(--shadow);
      border: var(--border);
      border-radius: 10px;
    }
    .image_settings{
      background-color: var(--second-color);
      width: 630px;
      height: 325px;
    }
    .image_adaptation{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .mobile{
        width: 300px;
        height: 500px;
        background-color: var(--second-color);
        z-index: 1;
        position: relative;
        right: 50px;
      }
      .tablet{
        width: 370px;
        height: 410px;
        z-index: 2;
        background-color: var(--back-color);
        position: relative;
        right: -50px;
      }
    }
    .image_screen1, .image_screen2{
      background-color: var(--second-color);
      width: 630px;
      height: 325px;
    }
  }
}
.image.gallery__item:not(:last-child), .image_adaptation.gallery__item{
  margin-bottom: calc(var(--gallery-gap) * 0.1);
}
.text-block.gallery__item:not(:last-child){
  margin-bottom: calc(var(--gallery-gap) * 1.3);
}
@media screen and (width > 1680px){
  .text-block.gallery__item:not(:last-child){
    margin-bottom: 360px;
  }
}
.image_screen2{
  margin: 0;
  margin-bottom: 0;
}
.text-block{
  color: var(--text-color);
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrap {
  padding: 20px;

  h2{
    text-align: center;
    margin-block: 50px 40px;
  }
}
.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}
.items-wrap:before,
.items-wrap:after {
  content: "";
  height: 100%;
  top: 0;
  width: 10%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.items-wrap:before {
  left: 0;
  background: linear-gradient(
    90deg,
    var(--back-color) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.items-wrap:after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    var(--back-color) 100%
  );
}
.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  background: var(--second-color);
  flex: 1 1 auto;
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  color: var(--text-color);
  margin: 10px 0;
  transition: all 0.1s ease-in-out;
  box-shadow: var(--shadow-inset);

  .info-user{
    display: flex;
    align-items: center;
    gap: 40px;

    .avatar{
      width: 60px;
      height: 60px;
      border-radius: 50%;
      box-shadow: var(--shadow);
      background-color: var(--second-color);
    }
  }
}

.marquee {
  animation: scroll 40s linear infinite;
}
.items-wrap:hover .marquee {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}