{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock extra_css %}
{% block body %}
<form method="post" class="main-form">
  <h2>{% translate 'Edit Group' %}</h2>
  <p>{% translate 'You can only edit this group if you are its creator' %}</p>
  {% csrf_token %}
  {% with form=form %}
    {% include 'includes/form.html' %}
  {% endwith %}
  <button type="submit" class="btn btn_submit">{% translate 'Save Changes' %}</button>
</form>
{% endblock %}
