{% extends "includes/form_base.html" %}
{% load i18n static %}
{% block form_title %}
  {% trans "Сброс пароля" %}
{% endblock form_title %}
{% block form_description %}
  <p class="text-muted text-justify">
    {% trans "Забыли пароль? Введите ваш адрес электронной почты ниже, и мы отправим инструкции для создания нового пароля." %}
  </p>
{% endblock form_description %}
{% block form_hidden_fields %}
  {% csrf_token %}
{% endblock form_hidden_fields %}
{% block form_fields %}
  <div class="form-floating mb-3">
    <div class="form-floating">
      {{ form.email }}
      <label for="{{ form.email.id_for_label }}">{% trans "Адрес электронной почты" %}</label>
      <i class="bi bi-envelope input-icon"></i>
    </div>
    {% if form.email.errors %}<div class="invalid-feedback d-block">{{ form.email.errors }}</div>{% endif %}
  </div>
{% endblock form_fields %}
{% block submit_button_text %}
  {% trans "Сбросить пароль" %}
{% endblock submit_button_text %}
