{% extends "includes/form_base.html" %}
{% load i18n %}
{% block form_title %}
  {% trans "Изменить пароль" %}
{% endblock form_title %}
{% block form_description %}
  <p class="text-muted">
    {% trans "Пожалуйста, введите ваш старый пароль для безопасности, затем введите новый пароль дважды для подтверждения." %}
  </p>
{% endblock form_description %}
{% block form_fields %}
  <div class="form-floating mb-3">
    <div class="form-floating">
      {{ form.old_password }}
      <i class="bi bi-lock input-icon"></i>
      <label for="{{ form.old_password.id_for_label }}">{% trans 'Старый пароль' %}</label>
    </div>
    {% if form.old_password.errors %}<div class="invalid-feedback d-block">{{ form.old_password.errors }}</div>{% endif %}
  </div>
  <div class="form-floating mb-3">
    <div class="form-floating">
      {{ form.new_password1 }}
      <i class="bi bi-lock input-icon"></i>
      <label for="{{ form.new_password1.id_for_label }}">{% trans 'Новый пароль' %}</label>
    </div>
    {% if form.new_password1.errors %}
      <div class="invalid-feedback d-block">{{ form.new_password1.errors }}</div>
    {% endif %}
    {% if form.new_password1.help_text %}
      <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
    {% endif %}
  </div>
  <div class="form-floating mb-4">
    <div class="form-floating">
      {{ form.new_password2 }}
      <i class="bi bi-lock input-icon"></i>
      <label for="{{ form.new_password2.id_for_label }}">{% trans 'Подтвердите новый пароль' %}</label>
    </div>
    {% if form.new_password2.errors %}
      <div class="invalid-feedback d-block">{{ form.new_password2.errors }}</div>
    {% endif %}
  </div>
{% endblock form_fields %}
{% block submit_button_text %}
  {% trans 'Изменить мой пароль' %}
{% endblock submit_button_text %}
