{% extends "includes/form_base.html" %}
{% load i18n static %}
{% block form_title %}
  {% trans "Сброс пароля" %}
{% endblock form_title %}
{% block form_description %}
  {% if validlink %}
    <p class="text-muted text-center mb-4">
      {% trans "Пожалуйста, введите ваш новый пароль дважды, чтобы мы могли проверить, что вы ввели его правильно." %}
    </p>
  {% else %}
    <p class="text-muted text-center">
      {% trans "Ссылка для сброса пароля недействительна, возможно, она уже была использована. Пожалуйста, запросите новую ссылку для сброса пароля." %}
    </p>
  {% endif %}
{% endblock form_description %}
{% block form_hidden_fields %}
  {% if validlink %}
    <input type="hidden"
           autocomplete="username"
           value="{{ form.user.get_username }}">
  {% endif %}
{% endblock form_hidden_fields %}
{% block form_fields %}
  {% if validlink %}
    <div class="form-floating mb-3">
      <div class="form-floating">
        {{ form.new_password1 }}
        <label for="id_new_password1">{% trans 'Новый пароль' %}</label>
        <i class="bi bi-lock input-icon"></i>
      </div>
      {% if form.new_password1.errors %}
        <div class="invalid-feedback d-block">{{ form.new_password1.errors }}</div>
      {% endif %}
    </div>
    <div class="form-floating mb-4">
      <div class="form-floating">
        {{ form.new_password2 }}
        <label for="id_new_password2">{% trans 'Подтвердите пароль' %}</label>
        <i class="bi bi-lock input-icon"></i>
      </div>
      {% if form.new_password2.errors %}
        <div class="invalid-feedback d-block">{{ form.new_password2.errors }}</div>
      {% endif %}
    </div>
  {% endif %}
{% endblock form_fields %}
{% block submit_button_text %}
  {% if validlink %}
    {% trans "Изменить мой пароль" %}
  {% else %}
    {% trans "Запросить новую ссылку для сброса пароля" %}
  {% endif %}
{% endblock submit_button_text %}
{% block form_footer %}
  {% if not validlink %}
    <div class="text-center">
      <a href="{% url 'users:password_reset' %}">{% trans "Запросить новый сброс пароля" %}</a>
    </div>
  {% endif %}
{% endblock form_footer %}
