{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/multi-select.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extra_css %}
{% block body %}
  <form class="profile" method="post" enctype="multipart/form-data">
    <div class="profile__left">
      {% if user.image %}
        <img src="{{ user.image.url }}"
             alt="{% translate 'error' %}"
             class="profile__image">
      {% else %}
        <img src="{% static 'img/no-avatar.jpg' %}"
             alt="{% translate 'error' %}"
             class="profile__image">
      {% endif %}
      <a href="{% url 'users:password-change' %}" class="btn btn_change">{% translate 'Change the password' %}</a>
      <span id="btn-del" data-url="{% url 'users:logout' %}" data-question="{% translate 'Are you sure you want to log out of your account' %}?" class="btn">{% translate 'Log Out' %}</span>
      <span id="btn-del" data-url="{% url 'users:delete' %}" class="btn" data-url="">{% translate 'Delete Accaount' %}</span>
    </div>
    <div class="profile__right">
      {% csrf_token %}
      {% with form=form %}
        {% include "includes/form.html" %}
        {% if not user.is_telegram_subscribed %}
          <a href="https://t.me/MemoTime_BOT" target="_blank" class="link-tg btn">{% translate 'Привязать аккаунт Телеграм' %}</a>
        {% endif %}
      {% endwith %}
    </div>
    <div class="btns">
      <button type="submit" class="btn btn_profile">{% translate 'Change Profile information' %}</button>
    </div>
  </form>
  {% include 'includes/modal.html' %}
{% endblock body %}
{% block extra_js %}
  <script src="{% static 'js/libs/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'js/multi-select.js' %}"></script>
  <script src="{% static 'js/delete-modal.js' %}"></script>
{% endblock extra_js %}
