<!DOCTYPE html>
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% trans 'LMS project' %}">
    <meta name="keywords" content="{% trans 'catalog, cat' %}">
    <title>Memotime</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_css %}
    {% endblock extra_css %}
    <!-- FavIcon -->
    <link type="image" href="{% static 'favicon.ico' %}" rel="icon" />
  </head>
  <body>
    <div class="wraper">
      <div class="content">
        {% include "includes/header.html" %}
        <main>
          {% block body %}
            <p>{% translate "произошла ошибка - свяжитесь с нами" %}</p>
          {% endblock body %}
        </main>
        {% include "includes/footer.html" %}
      </div>
    </div>
    <!-- JS -->
    {% block extra_js %}{% endblock extra_js %}
    <script src="{% static 'js/base.js' %}"></script>
  </body>
</html>
